{% extends 'base.html' %}

{% block content %}
<a href="{% url 'create_customer' %}" class="btn btn-success">Add New User</a>


<h1>User List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone number</th>
            <th>Username</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.first_name }} {{customer.last_name}}</td>
            <td>{{ customer.phone_number }}</td>
            <td>{{ customer.username }}</td>
            <td>
                <a href="{% url 'customer_view' customer.id %}" class="btn btn-primary btn-sm">View</a>
                <a href="{% url 'customer_update' customer.id %}" class="btn btn-warning btn-sm">Update</a>
                <a href="{% url 'customer_delete' customer.id %}" class="btn btn-danger btn-sm">Delete</a>
                {% if customer.is_active %}
                <a href="{% url 'customer_block' customer.id %}" class="btn btn-dark btn-sm">Block</a>
                {% else %}
                <a href="{% url 'customer_unblock' customer.id %}" class="btn btn-success btn-sm">Unblock</a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No customers found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}